doctype html
html
  head
    include includes/head
  body#top
    .header.mobile-header
      .container
        .row.align-items-center
          .col-xs-4.col-sm-4.col-md-3.col-lg-2.hack
            a.smooth(href="#top")
              img(src="../assets/images/logo.png").logo
          .col-xs-12.col-sm-12.col-md-9.col-lg-6.order-mobile
            nav.navbar.navbar-expand-md.navbar-expand-lg
              button(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                span.line
                span.line
                span.line

              div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                  li.nav-item.active
                    a(href="#block-3").smooth.nav-link.text-uppercase РАБОТЫ 
                      span.sr-only (current)
                  li.nav-item
                    a(href="#block-4").smooth.nav-link.text-uppercase ЦЕНЫ
                  li.nav-item
                    a(href="#block-8").smooth.nav-link.text-uppercase МЕРЧ
                  li.nav-item
                    a(href="#block-5").smooth.nav-link.text-uppercase ДОСТАВКА И ОПЛАТА
                  li.nav-item
                    a(href="#block-9").smooth.nav-link.text-uppercase FAQ
                  li.nav-item
                    a(href="#block-10").smooth.nav-link.text-uppercase КОНТАКТЫ
          .col-xs-8.col-sm-8.col-md-9.ml-md-auto.col-lg-4
            .header-action
              div
                p.header-phone +7 999 211 88 77
              div
                button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.text-uppercase
                  span ЗАКАЗАТЬ ВЫШИВКУ
                  span
                    include ../assets/images/svg/noun_799228_cc.svg
    .content.block-1
      .container
        img(src="../assets/images/pacan.png").block-1__man
        .row
          .col
            h2.block-1__title Делаем крутые<br>вышивки на<br>
              span.animation#morphext бейсболках,шапках,снэпбеках,бомберах,вашей одежде
            p.block-1__subtitle Уникальность можно купить. <br> Доставим по всей России.
        .row
          .col-xs-12.col-sm-12.col-md-7.col-lg-6
            .block-1__info
              ul.block-1__info--social
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/instagram-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/vk-social-network-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/facebook-logo.svg
              .block-1__info--address
                span.block-1__info--address__icon
                    include ../assets/images/svg/noun_1146600_cc.svg
                span.block-1__info--address__text Лофт Проект Этажи, Лиговский пр-кт 74
    .content.block-2
      .container
        .row.align-items-center.align-items-md-start
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/cup-check.svg
              .block-2-item__description
                p Не нужно ждать Кепка готова в день заказа
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/noun_1008386_cc.svg
              .block-2-item__description
                p Вышиваем на всем Толстовки, джинсы, обувь, шапки
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/noun_842994_cc.svg
              .block-2-item__description
                p Не можете определиться? Мы поможем! Проконсультируем по всем вопросама
    #block-3.content.block-3
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.text-center Примеры готовых вышивок
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.js-moreProducts
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
        .row
          .col.text-center
            a(href="#").show-more(class="js-showMore")
              include ../assets/images/svg/noun_1020876_cc.svg
            p.show-more__description ПОКАЗАТЬ БОЛЬШЕ
    #block-4.content.block-4
      .container
        img(src="../assets/images/pacan-2.png").pacan-2
        .row
          .col-xs-12.col-sm-12.col-md-10.mr-md-auto.ml-md-auto.mr-lg-0.ml-lg-0.col-lg-7
            h2.block-4__title.text-center Стоимость
            ul.price-list
              li.price-list__item
                span.price-list__item--text Любая кепка, снэпбээк, бейсболка с вышивкой
                span.price-list__item--price 2500
                  span.rubl
                    include ../assets/images/svg/rubl.svg
              li.price-list__item
                span.price-list__item--text Любая кепка, снэпбээк, бейсболка без вышивки
                span.price-list__item--price 1000
                  span.rubl
                    include ../assets/images/svg/rubl.svg
              li.price-list__item
                span.price-list__item--text Вышивка на вашем изделии
                span.price-list__item--price от 500
                  span.rubl
                    include ../assets/images/svg/rubl.svg
              li.price-list__item
                span.price-list__item--text Бомбер с вышивкой
                span.price-list__item--price от 2500 
                  span.rubl
                    include ../assets/images/svg/rubl.svg
            div.text-center
                button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.text-uppercase
                  span ЗАКАЗАТЬ КРУТУЮ ВЫШИВКУ
    #block-5.content.block-5
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.text-center Доставка и оплата
        .row
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .delivery-item
              .delivery-item__head
                .delivery-item__head--wrap
                  .delivery-item__head--icon
                    include ../assets/images/svg/cube.svg
                  .delivery-item__head--title
                    p Самовывоз
              .delivery-item__body
                p Адрес самовывоза: 
                  span Лофт Проект Этажи, Лиговский пр-кт, 74. <br><br> Ежедневно с 12 до 21, кроме вторника.
                ul
                  li Бесплатно.
                  li При заказе на сайте — предоплата 50%.
                  li При заказе в «Этажах» изделие готово в течении 4 часов.
                  li При заказа на сайте изделие готово день в день.
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .delivery-item
              .delivery-item__head
                .delivery-item__head--wrap
                  .delivery-item__head--icon.car
                    include ../assets/images/svg/car.svg
                  .delivery-item__head--title
                    p Доставка по <br> Санкт-Петербургу
              .delivery-item__body
                ul
                  li 300 руб., предоплата 50%.
                  li Изделие доставляется на следующий день после заказа.
            .delivery-item
              .delivery-item__head
                .delivery-item__head--wrap
                  .delivery-item__head--icon.russia
                    include ../assets/images/svg/russia.svg
                  .delivery-item__head--title
                    p Доставка в другие регионы
              .delivery-item__body
                ul
                  li Стоимость по тарифам Почты России.
                  li 100% предоплата.
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .delivery-item
              .delivery-item__head
                .delivery-item__head--wrap
                  .delivery-item__head--icon
                    include ../assets/images/svg/purse.svg
                  .delivery-item__head--title
                    p Как оплатить?
              .delivery-item__body
                ul
                  li Наличными в этажах
                  li Банковским переводом
                p Мы пришлем реквизиты и сумму к оплате. <br> Банк может взымать комиссию
    .content.block-6
      .container
        .row
          .col
            .cup-title
              .cup-title__icon.text-center
                include ../assets/images/svg/noun_799228_cc.svg
              h2.cup-title__text.text-center Заказать крутую вышивку
      form.msf.order(enctype="multipart/form-data")
        .msf-content
          .steps
            .container
              .row
                .col
                  .steps-wrap.msf-header
                    .msf-step.steps-item.active
                      .steps-item__position
                        p 1
                      .steps-item__title
                        p Выбор изделия 
                    .msf-step.steps-item.active
                      .steps-item__position
                        p 2
                      .steps-item__title
                        p Нитки и размер вышивки
                    .msf-step.steps-item
                      .steps-item__position
                        p 3
                      .steps-item__title
                        p Цвет ниток
                    .msf-step.steps-item
                      .steps-item__position
                        p 4
                      .steps-item__title
                        p Изображения и контакты
          .container
            .msf-content
              .msf-view
                .step-block
                  .row
                    .col-xs-12.col-sm-12.col-md-2.col-lg-2.d-none.d-md-block.d-lg-block
                    .col-xs-12.col-sm-12.col-md-4.col-lg-4
                      .dress
                        p.dress-title.text-uppercase На чем вышивать? :
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="бейсболка" checked)#dress-1
                            label(for='dress-1') 
                              span
                                include ../assets/images/svg/baseball-cap.svg
                              span.text-uppercase бейсболка
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="snapback")#dress-2
                            label(for='dress-2') 
                              span
                                include ../assets/images/svg/snapback.svg
                              span.text-uppercase snapback
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="trucker hat")#dress-3
                            label(for='dress-3') 
                              span
                                include ../assets/images/svg/trucker-hat.svg
                              span.text-uppercase trucker hat
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="Шапка")#dress-4
                            label(for='dress-4') 
                              span
                                include ../assets/images/svg/cap.svg
                              span.text-uppercase Шапка
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="Бомбер")#dress-5
                            label(for='dress-5') 
                              span
                                include ../assets/images/svg/bomber.svg
                              span.text-uppercase Бомбер
                        .form-group
                          .dress-item
                            input(type="radio" name="dress" data-errorContainer="#errorContainer1" value="Ваша одежда")#dress-6
                            label(for='dress-6')
                              span
                                include ../assets/images/svg/your-dress.svg
                              span.text-uppercase Ваша одежда
                      #errorContainer1.has-danger.small
                    .col-xs-12.col-sm-12.col-md-6.col-lg-5.my-flex
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 1
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="черный")#color-1
                            label(for='color-1')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="серый")#color-2
                            label(for='color-2')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="красный")#color-3
                            label(for='color-3')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="синий")#color-4
                            label(for='color-4')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="розовый")#color-5
                            label(for='color-5')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="зелёный")#color-6
                            label(for='color-6')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-1" data-errorContainer="#errorContainerDress1" value="черный и белый")#color-7
                            label(for='color-7')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress1.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="xs")#size-1
                          label(for='size-1').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="s")#size-2
                          label(for='size-2').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="m")#size-3
                          label(for='size-3').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="l")#size-4
                          label(for='size-4').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="xl")#size-5
                          label(for='size-5').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-1" data-errorContainer="#errorContainerDress2" value="one size")#size-6
                          label(for='size-6').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress2.has-danger
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 2
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="черный")#color-8
                            label(for='color-8')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="серый")#color-9
                            label(for='color-2')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="красный")#color-10
                            label(for='color-3')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="синий")#color-11
                            label(for='color-4')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="розовый")#color-12
                            label(for='color-5')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="зелёный")#color-13
                            label(for='color-6')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-2" data-errorContainer="#errorContainerDress3" value="черный и белый")#color-14
                            label(for='color-7')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress3.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="xs")#size-7
                          label(for='size-7').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="s")#size-8
                          label(for='size-8').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="m")#size-9
                          label(for='size-9').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="l")#size-10
                          label(for='size-10').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="xl")#size-11
                          label(for='size-11').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-2" data-errorContainer="#errorContainerDress4" value="one size")#size-12
                          label(for='size-12').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress4.has-danger
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 3
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="черный")#color-15
                            label(for='color-15')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="серый")#color-16
                            label(for='color-16')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="красный")#color-17
                            label(for='color-17')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="синий")#color-18
                            label(for='color-18')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="розовый")#color-19
                            label(for='color-19')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="зелёный")#color-20
                            label(for='color-20')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-3" data-errorContainer="#errorContainerDress5" value="черный и белый")#color-21
                            label(for='color-21')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress5.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="xs")#size-13
                          label(for='size-13').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="s")#size-14
                          label(for='size-14').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="m")#size-15
                          label(for='size-15').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="l")#size-16
                          label(for='size-16').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="xl")#size-17
                          label(for='size-17').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-3" data-errorContainer="#errorContainerDress6" value="one size")#size-18
                          label(for='size-18').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress6.has-danger
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 4
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="черный")#color-22
                            label(for='color-21')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="серый")#color-23
                            label(for='color-23')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="красный")#color-24
                            label(for='color-24')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="синий")#color-25
                            label(for='color-25')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="розовый")#color-26
                            label(for='color-26')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="зелёный")#color-27
                            label(for='color-27')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-4" data-errorContainer="#errorContainerDress7" value="черный и белый")#color-28
                            label(for='color-28')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress7.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="xs")#size-19
                          label(for='size-19').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="s")#size-20
                          label(for='size-20').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="m")#size-21
                          label(for='size-21').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="l")#size-22
                          label(for='size-22').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="xl")#size-23
                          label(for='size-23').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-4" data-errorContainer="#errorContainerDress8" value="one size")#size-24
                          label(for='size-24').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress8.has-danger
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 5
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="черный")#color-29
                            label(for='color-29')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="серый")#color-30
                            label(for='color-30')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="красный")#color-31
                            label(for='color-31')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="синий")#color-32
                            label(for='color-32')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="розовый")#color-33
                            label(for='color-33')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="зелёный")#color-34
                            label(for='color-34')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-5" data-errorContainer="#errorContainerDress9" value="черный и белый")#color-35
                            label(for='color-35')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress9.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="xs")#size-25
                          label(for='size-25').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="s")#size-26
                          label(for='size-26').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="m")#size-27
                          label(for='size-27').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="l")#size-28
                          label(for='size-28').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="xl")#size-29
                          label(for='size-29').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-5" data-errorContainer="#errorContainerDress10" value="one size")#size-30
                          label(for='size-30').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress10.has-danger
                      .dress-option
                        p.dress-option__title
                          span Классическая бейсболка с изогнутым козырьком и регулиремым ремешком 6
                        p.dress-title.mb-25.text-uppercase Выберите цвет :
                        .color-set
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="черный")#color-36
                            label(for='color-36')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="серый")#color-37
                            label(for='color-37')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="красный")#color-38
                            label(for='color-38')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="синий")#color-39
                            label(for='color-39')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="розовый")#color-40
                            label(for='color-40')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="зелёный")#color-41
                            label(for='color-41')
                              include ../assets/images/svg/bomber.svg
                          .color-item
                            input(type="radio" name="color-set-6" data-errorContainer="#errorContainerDress11" value="черный и белый")#color-42
                            label(for='color-42')
                              include ../assets/images/svg/bomber.svg
                        #errorContainerDress11.has-danger
                        p.dress-title.mb-25.text-uppercase выберите размер :
                        .size-set
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="xs")#size-31
                          label(for='size-31').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xs
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="s")#size-32
                          label(for='size-32').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span s
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="m")#size-33
                          label(for='size-33').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span m
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="l")#size-34
                          label(for='size-34').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span l
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="xl")#size-35
                          label(for='size-35').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span xl
                          input(type="radio" name="size-set-6" data-errorContainer="#errorContainerDress12" value="one size")#size-36
                          label(for='size-36').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.text-uppercase
                              span One size
                        #errorContainerDress12.has-danger
                      .errors-container
                      .step-next
                        button(type="button" id="step3").btn.btn-light.btn-action.btn-action-inline.btn-action-order.text-uppercase
                          span Продолжить
                        p.dress-title.dress-title-xs.reset-margin.text-uppercase Шаг 1 из 4
              .msf-view
                .step-block
                  .row.step-block-row
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3
                      .photo-item#wrapperThreadSetImg
                        img(src="../assets/images/thread-set/set-1.jpg" id="threadSetImg")                          
                    .col-xs-12.col-sm-12.col-md-9.col-lg-9
                      p.dress-title.mb-25.text-uppercase.text-center.text-md-left.text-lg-left.text-xl-left Нитки для вышивки:
                      .thread-set
                        div
                          input(type="radio" name="thread" data-errorContainer="#errorContainer4" value="Матовые" src='assets/images/thread-set/set-1.jpg' checked)#thread-1
                          label(for='thread-1').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Матовые
                        div
                          input(type="radio" name="thread" data-errorContainer="#errorContainer4" value="Глянцевые" src='assets/images/thread-set/set-2.jpg')#thread-2
                          label(for='thread-2').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Глянцевые
                        div
                          input(type="radio" name="thread" data-errorContainer="#errorContainer4" value="Металлизированные" src='assets/images/thread-set/set-3.jpg')#thread-3
                          label(for='thread-3').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Металлизированные
                        div
                          input(type="radio" name="thread" data-errorContainer="#errorContainer4" value="Меняющие цвет" src='assets/images/thread-set/set-4.jpg')#thread-4
                          label(for='thread-4').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Меняющие цвет
                        div
                          input(type="radio" name="thread" data-errorContainer="#errorContainer4" value="Светящиеся в темноте" src='assets/images/thread-set/set-5.jpg')#thread-6
                          label(for='thread-6').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span светящиеся в темноте
                      #errorContainer4.has-danger.small
                      p.dress-title.mb-25.text-uppercase.text-center.text-md-left.text-lg-left.text-xl-left Объемная вышивка:
                      .user-lettering
                        div
                          input(type="checkbox"  name="volumetricEmbroidery" data-errorContainer="#errorContainer44" value="Объемная вышивка")#volumetricEmbroidery
                          label.volumetricEmbroidery(for="volumetricEmbroidery")
                            span Объемная вышивка
                      #errorContainer44.has-danger.small
                  .row.step-block-row
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3
                      .photo-item
                        #wrapperThreadSetImg2
                        img(src="../assets/images/thread-set/set-face-1.jpg" id="threadSetImg2")  
                    .col-xs-12.col-sm-12.col-md-9.col-lg-9
                      p.dress-title.mb-25.text-uppercase.text-center.text-md-left.text-lg-left.text-xl-left Место вышивки
                      .thread-set
                        div
                          input(type="radio" name="face" data-side="front" data-errorContainer="#errorContainer5" value="Лицевая сторона" src="assets/images/thread-set/set-face-1.jpg" checked)#face-1
                          label(for='face-1').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Лицевая сторона
                        div
                          input(type="radio" name="face" data-side="back" data-errorContainer="#errorContainer5" value="Оборотная сторона" src="assets/images/thread-set/set-face-2.jpg")#face-2
                          label(for='face-2').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Оборотная сторона
                        div
                          input(type="radio" name="face" data-side="aside" data-errorContainer="#errorContainer5" value="Боковая сторона" src="assets/images/thread-set/set-face-3.jpg")#face-3
                          label(for='face-3').btn.btn-light.btn-action.btn-action-inline.btn-action-sm.btn-action-order.btn-thread.text-uppercase
                            span Боковая сторона
                      #errorContainer5.has-danger.small
                      p.dress-title.mb-25.text-uppercase.text-cenetr.text-md-left.text-lg-left.text-xl-left Размер вышивки (ширина х высота)
                      .place-size
                        .place-size__field
                          input.form-control(type="text" name="from" id="from" data-errorContainer="#errorContainer6")
                          span x
                          input.form-control(type="text" name="to" id="to"  data-errorContainer="#errorContainer6")
                          span см
                        .place-size__description
                          p.thread-set__description На кепке с лицевой стороны max 17 х 7,5 см
                          p.thread-set__description На кепке с обратной стороны max 5 х 5 см
                      #errorContainer6.has-danger.d-flex.flex-column.small
                      .step-next
                        button(type="button" id="step4").btn.btn-light.btn-action.btn-action-inline.btn-action-order.text-uppercase
                          span Продолжить
                        p.dress-title.dress-title-xs.reset-margin.text-uppercase Шаг 2 из 4
              .msf-view
                .step-block
                  .row
                    .col-12
                      .color-set-title Выберите цвет нитей для вышивки
                      .color-set
                        - var n = 0;
                        while n < 81
                          - n++
                          - var colorID = 'color' + n
                          - var colorIMG = 'image-color-N-' + n
                          - var pathImgbyIDx = 'logo.png' //'color-img-N-' + n
                          - var titleTooltip = 'tooltip-' + n;

                          input(type="checkbox" name="color" value="color" id=colorID data-errorContainer="#errorContainerColor")
                          label(for=colorID data-toggle="tooltip"  title=titleTooltip)
                            img(src='../assets/images/' + pathImgbyIDx, alt="")
                      #errorContainerColor.has-danger.small
                  .row
                    .col-12.my-flex
                      .step-next
                        button(type="button" id="step2").btn.btn-light.btn-action.btn-action-inline.btn-action-order.text-uppercase
                          span Продолжить
                        p.dress-title.dress-title-xs.reset-margin.text-uppercase Шаг 3 из 4
              .msf-view
                .step-block
                  .row
                    .col-xs-12.col-sm-12.col-md-5.col-lg-5.ml-auto
                      label(id="file-input").btn.btn-light.btn-action.btn-upload.text-uppercase
                        span
                          include ../assets/images/svg/clip.svg
                        span.file-input-text Прикрепить файл
                        input(
                          type="file"
                          name="picture"
                          data-errorContainer="#errorContainer10"
                        ).upload-file
                      #errorContainer10.has-danger
                      ul.upload-instruction
                        li.thread-set__description Загрузите .png или .jpg
                        li.thread-set__description Маленькую картинку нельзя вышить в большом размере
                        li.thread-set__description Максимальный размер файла 8мб
                        li.thread-set__description Использование изображения не должно нарушать авторских прав
                      .user-lettering
                        div
                          input(type="checkbox" name="userLettering" value="Своя надпись")#user-lettering
                          label(for="user-lettering")
                        div
                          p.user-lettering__title.text-uppercase Вышить надпись
                          p.thread-set__description.mb-25 Мы предложим на выбор 500 шрифтов
                          .form-group
                            input#user-letteringField(type="text" placeholder="Введите вашу надпись" name="userLetteringText" data-errorContainer="#errorContainer11").form-control.user-lettering__field
                          #errorContainer11.has-danger
                      p.thread-set__description Если вы сомневаетесь в результате — мы пришлем вам примерный макет
                    .col-xs-12.col-sm-12.col-md-5.col-lg-5.mr-auto
                      .form-wrap
                        .form-group
                          input(type="text" name="user" placeholder="Ваше имя" data-errorContainer="#errorContainer72").form-control.user-lettering__field
                          #errorContainer72.has-danger
                        .form-group
                          input(type="tel" name="phone" data-input="phone" placeholder="Телефон" data-errorContainer="#errorContainer73").form-control.user-lettering__field
                          #errorContainer73.has-danger
                        .form-group
                          input(type="email" name="email" placeholder="Почта").form-control.user-lettering__field
                        .form-group
                          textarea(name="message" placeholder="Укажите любую информацию, которая важна для вашего заказа" rows="6").form-control.user-lettering__field.reset-height
                        p.thread-set__description Нажимая «Оформить заказ» вы соглашаетесь с 
                          a.data-politic(href="#") политикой обработки персональных данных
                        #errorContainer7.has-danger.d-flex.flex-column
                        .step-next
                          button(type="button" id="submitHack").btn.btn-light.btn-action.btn-action-inline.btn-action-order.text-uppercase
                            span Оформить заказ
                          p.dress-title.dress-title-xs.reset-margin.text-uppercase Шаг 4 из 4
                        p.after-order.mb-25 После оформления заказа мы свяжемся с вами для подтверждения
            .msf-navigation
    .content.block-7
      .container
        .row.justify-content-between.align-items-center
          .col-xs-12.col-sm-12.col-md-7.col-lg-8
            p.block-7-title Сомневаетесь в выборе?  Оставьте заявку — мы свяжемся с вами и поможем!
          .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-center
            button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.text-uppercase
              span ЗАКАЗАТЬ КРУТУЮ ВЫШИВКУ
    #block-8.content.block-8
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.text-center Мерч
        .row
          .col
            .block-8-btn-set.js-isotopeBtns
              button(type="button" data-filter=".all").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase.is-checked
                span Весь
              button(type="button" data-filter=".case-1").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                span big russian boss
              button(type="button" data-filter=".case-2").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                span Паша техник
              button(type="button" data-filter=".case-3").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                span oxxxymiron
              button(type="button" data-filter=".case-4").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                span versus battle
              button(type="button" data-filter=".case-5").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                span дружко шоу
        .row.js-isotopeGrid
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-1 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-2 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-3 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-4 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-5 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-2 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
          .col-xs-12.col-sm-6.col-md-4.col-lg-3(class="js-gridItem case-3 all")
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-2.jpg")
              .product-item__description.double-row.offset-bottom-20
                p.product-item__description--text.fz-15 SnapBack Oxxxymiron
              .product-item__action
                div
                  p.product-item__description--option Цена
                  p.product-item__description--price 2000 
                    span.rubl
                      include ../assets/images/svg/rubl.svg
                div
                  button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.btn-action-order.text-uppercase
                    span Заказать
    #block-9.content.block-9
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.text-center Часто задаваемые вопросы
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            #accordion(role="tablist" aria-multiselectable="true")
              .card
                .card-header#heading-1(role="tab")
                  h5.mb-0
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1")
                      span.carat
                      span Какие ограничения есть на изображения для вышивки?

                #collapse-1.collapse.show(role="tabpanel" aria-labelledby="heading-1")
                  .card-block 
                    span Ответ: 
                    | Цветовая палитра: до 15 цветов можем вместить в рисунок; отказываем в просьбе вышить фото, отказываем в вышивании высокохудожественных рисунков.
              .card
                .card-header#heading-2(role="tab")
                  h5.mb-0
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2").collapsed
                      span.carat
                      span Какие ограничения есть на изображения для вышивки?

                #collapse-2.collapse(role="tabpanel" aria-labelledby="heading-2")
                  .card-block Абсолютно сходящийся ряд нейтрализует минимум. Критерий интегрируемости иррационален. Подынтегральное выражение, в первом приближении, соответствует стремящийся функциональный анализ. Тройной интеграл выведен.
              .card
                .card-header#heading-3(role="tab")
                  h5.mb-0
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3").collapsed
                      span.carat
                      span Какие ограничения есть на изображения для вышивки?

                #collapse-3.collapse(role="tabpanel" aria-labelledby="heading-3")
                  .card-block Абсолютно сходящийся ряд нейтрализует минимум. Критерий интегрируемости иррационален. Подынтегральное выражение, в первом приближении, соответствует стремящийся функциональный анализ. Тройной интеграл выведен.
              .card
                .card-header#heading-4(role="tab")
                  h5.mb-0
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4").collapsed
                      span.carat
                      span Какие ограничения есть на изображения для вышивки?

                #collapse-4.collapse(role="tabpanel" aria-labelledby="heading-4")
                  .card-block Абсолютно сходящийся ряд нейтрализует минимум. Критерий интегрируемости иррационален. Подынтегральное выражение, в первом приближении, соответствует стремящийся функциональный анализ. Тройной интеграл выведен.
              .card
                .card-header#heading-5(role="tab")
                  h5.mb-0
                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-5" aria-expanded="true" aria-controls="collapse-5").collapsed
                      span.carat
                      span Какие ограничения есть на изображения для вышивки?

                #collapse-5.collapse(role="tabpanel" aria-labelledby="heading-5")
                  .card-block Абсолютно сходящийся ряд нейтрализует минимум. Критерий интегрируемости иррационален. Подынтегральное выражение, в первом приближении, соответствует стремящийся функциональный анализ. Тройной интеграл выведен.
    #block-10.content.block-10
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.white.text-center Мы в Санкт-Петербурге
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-3
            .block-10-item.text-center
              .block-10-item__media
                img(src="../assets/images/block-10-item-1.png")
              .block-10-item__description
                p.block-10-item__description--title.text-uppercase КОНТАКТНЫЙ ТЕЛЕФОН
                a.block-10-item__description--text.phone(href="tel:000000000") +7 999 211 88 77
          .col-xs-12.col-sm-12.col-md-6.col-lg-3
            .block-10-item.text-center
              .block-10-item__media
                img(src="../assets/images/block-10-item-2.png")
              .block-10-item__description
                p.block-10-item__description--title.text-uppercase АДРЕС
                p.block-10-item__description--text Лофт Проект Этажи, Лиговский пр-кт 74, нулевой этаж, желтый бокс
          .col-xs-12.col-sm-12.col-md-6.col-lg-3
            .block-10-item.text-center
              .block-10-item__media
                img(src="../assets/images/block-10-item-3.png")
              .block-10-item__description
                p.block-10-item__description--title.text-uppercase ГРАФИК РАБОТЫ
                p.block-10-item__description--text с 12.00 до 21.00, кроме вторника
          .col-xs-12.col-sm-12.col-md-6.col-lg-3
            .block-10-item.text-center
              .block-10-item__media
                img(src="../assets/images/block-10-item-4.png")
              .block-10-item__description
                p.block-10-item__description--title.text-uppercase E-MAIL
                a(href="mailto:someone@example.com").block-10-item__description--text info@snapbackcustoms.ru
    .content.map
      iframe(
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A7fbdb27a668dc25a6add4739e26f8fd8da3f2d23f7534c03c62b8c5f5d97fad1&amp;lang=ru_RU&amp;scroll=false&amp;source=constructor"
        width="100%"
        height="500px"
        frameborder="0"
      )
    .content.block-11
      .container
        .row
          .col
            .inst
              .inst-logo-set
                div
                  img(src="../assets/images/inst-logo-1.png")
                div
                  img(src="../assets/images/inst-logo-2.png")
                div
                  img(src="../assets/images/inst-logo-3.png")
              div
                a(href="https://www.instagram.com/snapback_customs/" target="_blank").btn.btn-light.btn-action.btn-action-md-2.btn-action-border.text-uppercase
                  span ПЕРЕЙТИ В ПРОФИЛЬ
        .row
          .col
            .inst-item-row
              .inst-item
                img(src="../assets/images/inst-item-1.jpg")
              .inst-item
                img(src="../assets/images/inst-item-1.jpg")
              .inst-item
                img(src="../assets/images/inst-item-1.jpg")
              .inst-item
                img(src="../assets/images/inst-item-1.jpg")
    .content.block-12
      .container
        .row
          .col-xs-12.col-sm-12.col-md-10.col-lg-6.ml-auto.mr-auto.mr-lg-0.text-center.text-md-left.text-lg-left.text-xl-left
            h2.block-12-title.text-center.text-uppercase SNAPBACK CUSTOMS
            p.block-12-subtitle.text-center Вышивка на кепках, бейсболках и одежде
            p.block-12-text Ось собственного вращения даёт большую проекцию на оси, чем апериодический гирокомпас. Будем, как и раньше, предполагать, что курс относительно трансформирует небольшой гироинтегратор.
            p.block-12-text Степень свободы, в первом приближении, эллиптично позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует центр сил. Необходимым и достаточным условием отрицательности действительных частей корней рассматриваемого характеристического уравнения является то, что объект определяет уходящий кожух.
            p.block-12-text В самом общем случае линеаризация перманентно определяет альтиметр. Непосредственно из законов сохранения следует, что тангаж заставляет перейти к более сложной системе дифференциальных уравнений, если добавить поплавковый альтиметр.
            button(type="button" data-toggle="modal" data-target="#call").btn.btn-light.btn-action.btn-action-inline.btn-action-md.text-uppercase
              span ЗАКАЗАТЬ КРУТУЮ ВЫШИВКУ
    .footer
      .footer-lvl-1
        .container
          .row.align-items-center
            .col-xs-12.col-sm-12.col-md-9.col-lg-9
              .footer-item
                .footer-item__media
                  img(src="../assets/images/logo.png").logo
                .footer-item__description
                  p Брендирование бейсболок и одежды в Санкт-Петербурге. <br>Доставка по всей России.
            .col-xs-12.col-sm-12.col-md-3.col-lg-3
              ul.block-1__info--social.social-right
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link.black
                    include ../assets/images/svg/instagram-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link.black
                    include ../assets/images/svg/vk-social-network-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link.black
                    include ../assets/images/svg/facebook-logo.svg
      .footer-lvl-2
        .container
          .row
            .col
              .footer-info
                div
                  p.footer-info__text Snapbackcustoms 2017 ©
                  a(href="#").footer-info__text.border-bottom Политика обработки персональных данных
                div
                  p.footer-info__text Разработка сайта — 
                    a(href="http://horseheads.ru/" target="_blank").footer-info__text Horse Heads

  include includes/modal


